<footer class="font-primary bg-cWhite bottom-0 w-full px-24">
    <div class="flex items-center justify-between border-b-1 py-6">
        <ul class="flex items-center gap-8">
            <li>About</li>
            <li>Stories</li>
            <li>Contact</li>
        </ul>
        <icons />
    </div>
    <div class="flex items-center justify-between gap-4 py-6">
        <small>© 2025 Tiny Stories. All rights reserved.</small>
        <h1 class="text-4xl">Tiny Stories</h1>
        <ul class="flex items-center gap-4">
            <li>Terms of Service</li>
            <li>Privacy Policy</li>
        </ul>
    </div>
</footer>
