<header class="font-display flex items-center justify-between px-32">
    <div class="z-100 flex items-center gap-8">
        <div routerLink="" class="cursor-pointer py-4 text-4xl">Tales & Tones</div>
        <nav class="flex gap-4 pt-2 text-lg">
            <p routerLink="stories" class="cursor-pointer">Categories</p>
            <p routerLink="about" class="cursor-pointer">About</p>
            <p routerLink="contact" class="cursor-pointer">Contact</p>
        </nav>
    </div>
    <avatar-dropdown class="z-100" />
</header>
