@if (authorInfo()) {
    <card
        styleConfig="flex flex-col items-center px-10 py-8 cursor-pointer rounded-md bg-white gap-6 h-full"
    >
        <avatar [width]="'w-30'" [height]="'h-30'" />
        <div class="flex w-full flex-1 flex-col items-center justify-center">
            <h1 class="font-primary w-full text-center">
                {{ authorInfo()?.authorName }}
            </h1>
            <div class="text-md flex w-full flex-col items-center justify-center gap-2">
                <div class="text-cBlack text-md flex w-full justify-center text-nowrap">
                    <span>{{ authorInfo()?.noOfStories }} stories</span>
                    <span>&nbsp;&middot;&nbsp;</span>
                    <span>{{ authorInfo()?.noOfFollowers }} followers</span>
                </div>
                <div class="flex w-full flex-wrap items-center justify-center">
                    @for (tag of authorInfo()?.tags?.slice(0, 2); track $index) {
                        <h2 class="text-cBrown-3 text-md px-2 py-1 break-words capitalize">
                            {{ tag }}
                        </h2>
                    }
                </div>
            </div>
        </div>
    </card>
}
