<pen-overlay class="absolute top-0 left-1/2 block" />
<section class="flex flex-col gap-64">
    <h1 class="font-primary mt-64 ml-64 max-w-2xl text-6xl">
        Wander through words, discover new worlds
    </h1>
    <h1 class="self-center text-2xl">
        Step into shadowed worlds where ink drips and new authors guide you through undiscovered
        realms of wonder
    </h1>
</section>
<section class="flex gap-4 min-h-[700px] justify-center items-center">
    @for (story of editorsPick(); track $index) {
        <highlight-card
            [storyInfo]="story"
            (click)="expandHighlight(story.id)"
            [expanded]="story.id === highlightedCardId()"
        />
    }
</section>
