<div>
    <avatar />

    <div
        id="userDropdown"
        class="z-10 hidden w-44 divide-y divide-gray-100 rounded-lg bg-white shadow-sm"
    >
        <div class="px-4 py-3 text-sm text-gray-900">
            <div>Dimitar Spiroski</div>
            <div class="truncate font-medium">{{ 'dimitarspiroski@gmail.com' }}</div>
        </div>
        <ul class="py-2 text-sm text-gray-700" aria-labelledby="avatarButton">
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">My Profile</a>
            </li>
            <li>
                <a href="#" class="block px-4 py-2 hover:bg-gray-100">Settings</a>
            </li>
        </ul>
        <div class="py-1">
            <a href="#" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Sign out</a>
        </div>
    </div>
</div>
